@import "react-toastify/dist/ReactToastify.css";
@import '~bootstrap/scss/bootstrap';
@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Jua&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
  background-color: #E9F4FB;
  font-family: "Roboto", sans-serif;
  height: 100%;
  min-height: 100vh;
  position: relative;
  margin: auto;
}

main{
  //max-width: 1200px;
  margin: auto;
  padding: 90px 0;

  @media screen and (max-width: 1400px){
    padding: 60px 0;
}
}

.banner{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1200px;
  text-align: center;
  margin: 100px auto;
  margin-bottom: 0px;

  img{
    max-width: 400px;
  }

  h1{
    font-size: xx-large;
    font-family: "Comic Neue", cursive;
    color: #d15c5c;
    line-height: 3rem;
  }

  h3{
    font-size: larger;
    font-family: "Comic Neue", cursive;
    color: #000;
    line-height: 2rem;
    font-weight: normal;
    margin-bottom: 40px;
  }

  .cardbanner {
    padding: 1rem ;
    max-width: 600px;
  }
  .button {
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    margin: 6px 0;
    font-family: "Autour One", system-ui;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-primary {
    background-color: #007bff;
    color: white;
    padding: 15px;
  }
  
  .button-primary:hover {
    background-color: #0056b3;
  }
  
  .button-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .button-secondary:hover {
    background-color: #545b62;
  }

  .buttoncenter{
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 50px;
    max-width: 90%;
    height: unset;

    img{
      max-width: 90%;
    }
  }
}

.midbanner{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  max-width: 1200px;
  margin: 100px auto;
  h1{
    font-family: "Comic Neue", cursive;
    font-size: xx-large;
    color: #d15c5c;
    line-height: 4rem;
  }
  h3{
    font-size: larger;
    font-family: "Comic Neue", cursive;
    color: #000;
    font-weight: normal;
    line-height: 2rem;
    margin-bottom: 40px;
  }

  .midcardbanner {
    padding: 1rem ;
    max-width: 600px;
  }
  .midbutton {
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .midbutton-primary {
    background-color: #007bff;
    color: white;
    padding: 15px;
  }
  
  .midbutton-primary:hover {
    background-color: #0056b3;
  }
  
  .midbutton-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .midbutton-secondary:hover {
    background-color: #545b62;
  }
  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 50px;
    max-width: 90%;
    height: unset;

    img{
      max-width: 90%;
    }
  }
}

.principal-accordin{
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-accordion{
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  margin-bottom: 50px;

  .p-accordion-tab{
    margin-bottom: 20px;

    .p-accordion-header-link{
      background-color: white;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      border: none;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      .p-accordion-header-text{
        display: flex;
        gap: 8px;
        width: 100%;
        color: #000;
        font-weight: normal;
        p{
          margin: 0;
        }
        .pi-angle-down{
          margin-left: auto;
        }
      }
    }

    &.p-accordion-tab-active{
      .p-accordion-header-link{
        border-radius: 10px 10px 0 0;
      }
    }

    .p-accordion-content{
      border-radius: 0 0 10px 10px;
    }
  }

}

.home-stepper{
  .p-stepper-nav{
    padding: 0;
    .p-stepper-separator{
      margin-inline-start: 0;
      background-color: #000;
      content: '<i classname="pi pi-arrow-right" />';
    }
    .p-stepper-number{
      border-radius: 50%;
      color:#000;
      border: 1px solid #000;
    }
  }
  .p-stepper-header.p-highlight{
    .p-stepper-number{
      background-color: #000;
      color: white;
    }
  }
  .p-stepper-panels{
    padding-top: 0;
    .p-button{
      border-radius: 10px;
      margin-right: 15px;
      background-color: #000;
      border-color: #000;
    }
  }
}

.tabela-de-atividades{

  .p-tree-container{
    padding-left: 0;
    color: #000;

    .p-treenode-selectable{
      font-weight: bold;

      button{
        color: #000;
        &:hover{
          background-color: #C9E9F254;
          color: #000;
          border: none;
        }
      }
      
      span{
        text-transform: capitalize;
      }

      &:hover{
        background-color: #C9E9F254;
        color: #000;
        border: none;
      }
    }
    .p-treenode-leaf{
      .p-treenode-selectable{
        font-weight: 400;

        button{
          display: none;
        }
      }
    }
  }
}

.p-breadcrumb{
  background: none;
  border: none;
  position: absolute;
  top: 100px;
  padding-bottom: 10px;

  ol{
    padding: 0px;
    margin: 0;
  }

  ol li a{
    text-decoration: none;
    color: #000;
    
    span{
      color: #000;
      font-size: 14px;
    }
  }
  svg{
    color: #000;
  }
}


.p-quemsomos{
  width: 100%;
  // max-width: 1200px;
  display: flex;
  justify-content: center;
  background-color: #0A6894;
  padding: 60px 0;

  h1 {
    font-family: "Comic Neue", cursive;
    color: #dcc73f;
    font-weight: bold;
    padding-bottom: 20px;
  }

  p {
    font-size: 18px;
    color: #fff;
  }

  .d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    .card-quem-somos{
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: fit-content;
  
      img{
        width: 75px;
        height: 75px;
        border-radius: 50%;
      }
  
      p{
        margin-bottom: 0px;
        color: #000;
        font-size: 14px;
        text-align: justify;
        font-weight: bold;
      }
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
}

.p-text-quemsomos {
  width: 62%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;

  @media(max-width: 900px){
    width: 100%;
    padding: 30px;
  }
}

.not-logged{
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 10px;
  max-width: 80%;
  margin: auto;
  margin-bottom: 100px;


  i{
    font-size: 20px;
  }
  a{
    font-weight: bold;
    // text-decoration: none;
    color: #000;
  }
  p{
    margin-bottom: 0;
  }
}