@import "react-toastify/dist/ReactToastify.css";
@import '~bootstrap/scss/bootstrap';
@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";
@import 'primeicons/primeicons.css';

body{
  margin-bottom: 100px;
}

header{
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightblue;

  .header-content{
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  h4, .header-item{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    h4, .header-item{
      font-size: 16px;
    }
    .header-content{
      gap: 15px;
    }
  }
}

.home-accordion{
  padding: 30px;

  .p-accordion-tab{
    margin-bottom: 20px;

    .p-accordion-header-link{
      background-color: lightblue;
      color: white;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      border: none;
      border-radius: 10px;

      .p-accordion-header-text{
        display: flex;
        gap: 8px;
        width: 100%;
        p{
          margin: 0;
        }
        .pi-angle-down{
          margin-left: auto;
        }
      }
    }

    &.p-accordion-tab-active{
      .p-accordion-header-link{
        border-radius: 10px 10px 0 0;
      }
    }

    .p-accordion-content{
      border-radius: 0 0 10px 10px;
    }
  }

}

.home-stepper{
  .p-stepper-nav{
    padding: 0;
    .p-stepper-separator{
      margin-inline-start: 0;
      background-color: lightblue;
      content: '<i classname="pi pi-arrow-right" />';
    }
    .p-stepper-number{
      border-radius: 50%;
      color:lightblue;
      border: 1px solid lightblue;
    }
  }
  .p-stepper-header.p-highlight{
    .p-stepper-number{
      background-color: lightblue;
      color: white;
    }
  }
  .p-stepper-panels{
    padding-top: 0;
    .p-button{
      border-radius: 10px;
      margin-right: 15px;
      background-color: lightblue;
      border-color: lightblue;
    }
  }
}

.tabela-de-atividades{
  padding: 30px;

  table{
    
    thead{
      th{
        background-color: lightblue;
        color: white;
      }
    }
    tbody{
      border-radius: 0 0 16px 16px;
    }
  }

  .p-paginator{
    button{
      height: 36px;
      min-width: 36px;
    }
  }
}

.activies{
  padding: 30px;

  h2{
    color: lightblue;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .box{
    background-color: lightblue;
    color: white;
    font-size: 16px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    height: fit-content;

    .title{
      font-size: 18px;
      font-weight: bold;
    }
  }

  &-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: column;
      grid-auto-rows: min-content;
      gap: 10px;
  }
}

.user-form{
  background-color: lightblue;
  width: fit-content;
  border-radius: 20px;
  padding: 30px;
  margin: 50px auto;
  color: white;

  display: flex;
  flex-direction: column;

  h1{
    margin: auto;
    margin-bottom: 25px;
  }

  .flex-row{
    display: flex;
    align-items: center;
    gap: 16px;

    &:first-of-type{
      margin-bottom: 10px;
    }

    p{
      margin: 0;
    }

    .radio-button{
      label{
        margin-left: 8px;
        color: white;
      }
      .p-radiobutton {
        border: none;
      }
    }

    .p-float-label{
      width: fit-content;
    }
  }

  .p-inputtext{
    border: none;
    border-radius: 20px;
    margin: 15px 0;
    &:focus{
      box-shadow: none;
    }
  }
  .p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label{
    top: 0.25rem;
    color: white;
  }

  .save-button{
    border-radius: 50px;
    margin: auto;
  }
}
