.habilidades-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        color: #0A6894;
        margin-bottom: 35px;
    }
    h3{
        font-size: 18px;
        text-align: justify;
        color: #0A6894;
        margin-bottom: 35px;
    }

    .atividades{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        .atividade{
            padding: 10px;
            border: #0A6894 1px solid;
            color: #0A6894;
            border-radius: 8px;
            display: inline-block;
    
            &:hover{
                color: white;
                background-color: #0A6894;
                cursor: pointer;
            }
        }
    }
}