.user-form{
    padding: 30px;
    margin: 0px auto;
    color: #0A6894;  
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 50px;

    .img-div{
        margin: auto 0;
        img{
            max-width: 380px;
            min-width: 300px;
            width: 100%;
        }
    }
  
    h1{
      margin: auto;
      margin-bottom: 25px;
      font-weight: bold;
    }
  
    .flex-row{
      display: flex;
      align-items: center;
      margin: 25px 0;
      gap: 10px;
  
      p{
        margin: 0;
      }
  
      .radios-background{
        display: flex;
        gap: 16px;
        background: white;
        padding: 12px 20px;
        border-radius: 20px;
        border: #0A6894 1px solid;
        .radio-button{
          label{
            margin-left: 8px;
            color: #0A6894;
          }
          .p-radiobutton {
              .p-radiobutton-box{
                  background-color: #ebfafe;
                  border-color: #0A6894;
              }
              input:checked + .p-radiobutton-box{
                  background-color: #0A6894;
              }
              .p-radiobutton-icon{
                  display: none;
              }
          }
        }
      }
  
      .p-float-label{
        width: fit-content;
        label{
            color: #0A6894;
            padding-left: 10px;
        }
      }

      .p-inputtext{
        border: 1px solid #0A6894;
        border-radius: 20px;
        margin: 0;
        background-color: white;
        width: 285px;
        
        &:focus{
          box-shadow: none;
        }
      }
      @media screen and (max-width: 1000px){
        align-items: flex-start;

        .radios-background{
          width: 100%;
        }

      }
      @media screen and (max-width: 767px){
        flex-direction: column !important;
        
        .p-float-label, .p-inputtext, .p-password, .p-icon-field{
          width: 100%;
        }
        .radios-background{
          flex-direction: column;
        }
      }
    }
  
    .p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label{
      top: -0.45rem;
      padding: 2px 8px;
      color: #0A6894;  
    }
  
    .save-button{
      border-radius: 20px;
      background-color: #0A6894;
      border: none;
      width: 130px;
      margin-top: 10px;
    }
  }

  .custom-password {
    position: relative;
    width: 100%; 
  }

  .custom-password .p-password-input {
    padding-right: 2.5rem; 
  }

  .custom-password .p-password .p-password-icon {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
  }



  @media (max-width: 1000px) {
    .user-form {
        flex-direction: column;
        padding: 10px;
    }
}
